body {
  margin: 0px;
  background-color: #4e160a;
  margin: 0px
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 15px;
  border: solid;
  border-color: transparent;
  border-radius: 3px;
  padding: .2rem;
}

button:hover {
  border-color: black;

}

.onboard {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(50% 50% at 80% 70%,#ce6133, #4e160a);
}

@font-face { 
  font-family: Lora-Bold; 
  src: url("./assets/fonts/Lora-Bold.otf") format('otf'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* @font-face { 
  font-family: Lora; 
  font-weight: bold; 
  src: url('Delicious-Bold.otf');
} */

.onboard-card {
  width: 40%;
  position: absolute;
  height: 100vh;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: flex-start;
}

.title-card {
  position: absolute;
  top: 15%;
}

.title {
  font-family: Lora-Bold;
  color: #ebac43;
  font-size: 3rem;
  margin: 0;
}

.with {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.221);
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 60px;
  width: 65%;
  position: absolute;
  top: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-label {
  color: white;
  font-weight: bold;
  margin-right: 5px;
}

.form-control-custom {
  display: flex;
  align-items: center;
  border: solid;
  border-color: white; 
  color: white;
  padding: 0.25rem 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  height: 100%;
  margin: 10px;
  background-color: transparent;
}

::placeholder {
  color: white;
}

.primary-button {
  width: 90%;
  background-color: #ebac43;
  border-radius: 10px;
  padding: 20px;
  font-weight: bolder;
  margin: 0;
  margin: 15px;
  height: 30%;
}

.transparent {
  background-color: transparent;
  color: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
}

.additional-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.add-button {
  width: 40%;
  margin: 0;
  margin-top: 10%;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
}

.add-button2 {
  width: 100%;
  margin: 15px;
}

.login-image {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.login-image > img {
  width: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
}

#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  background: radial-gradient(30% 35%,#ce6133, #4e160a);
}

.welcome-card {
  font-family: Lora-Bold;
  color: #ebac43;
  position: absolute;
  top: 15%;
}

.welcome-title {
  margin: 0;
}

.welcome {
  font-size: 3rem;
  margin: 0;
}

.home-card {
  background-color: rgba(255, 255, 255, 0.221);
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 60px;
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.home-label {
  position: relative;
  left: -22%;
}

.join-button {
  background-color: #ebac43;
  border-radius: 10px;
  padding: 5px;
  font-weight: bolder;
  margin: 0;
}

.additional-home-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
}

.add-home-button {
  margin: 0;
  width: 100%;
  margin-top: 10%;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
}

.account-actions {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 12%;
}

.account-button {
  margin: 0;
  margin-top: 10%;
  margin-right: 10%;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
}

.account-button:hover {
  border-radius: 5px;
  border-color: white;
}

.text-left {
  text-align: left !important;
}

.icon {
  width: 15%;
  margin-right: 5px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.game-input {
  display: flex;
  flex-direction: row;
  height: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: fixed;
  left: 10%;
  justify-content: center;
  align-items: center;
}

.review-board {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.board > button {
  width: 30%;
}

.hidden {
  display: none;
}

table {
  width: 80%;
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background: #b4c1d4;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

thead {
  background-color: #5e83bb;
  color: white;
}

th {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

td:last-child button {
  margin: 0px;
}

#chat-form { 
  background: rgba(0, 0, 0, 0.15); 
  padding: 0.25rem; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  display: flex; 
  height: 3rem; 
  box-sizing: border-box; 
  backdrop-filter: blur(10px); 
}

#chat-input { 
  display: flex;
  align-items: center;
  border: none; 
  padding: 0 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  margin: 0.25rem; 
  height: 80%;
}

.game-chat {
  width: 40%;
  position: absolute;
  right: 0;
}
            
#chat-input:focus { 
  outline: none; 
}

#chat-button { 
  background: #333; 
  border: none; 
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 3px; 
  outline: none; 
  color: #fff; 
}

#exit-button { background: rgb(181, 181, 181); border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: rgb(0, 0, 0); }
            
#chat-messages { list-style-type: none; margin: 0; padding: 0; margin-bottom: 48px; }
      
#chat-messages > li { padding: 0.5rem 1rem; }
      
#chat-messages > li:nth-child(odd) { background: #b4c1d4; }
      
#chat-label { display: flex; align-items: center; padding: 10px }