body {
  margin: 0px;
  background-color: #4e160a;
  margin: 0px
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(35% 40% at 30% 50%,#ce6133, #4e160a)
}

button {
  margin: 15px;
  border: solid;
  border-color: transparent;
  border-radius: 3px;
  padding: .2rem;
}

button:hover {
  border-color: black;
}

.onboard {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(50% 50% at 80% 70%,#ce6133, #4e160a);
}

@font-face { 
  font-family: Lora-Bold; 
  src: url("./assets/fonts/Lora-Bold.otf") format('otf'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* @font-face { 
  font-family: Lora; 
  font-weight: bold; 
  src: url('Delicious-Bold.otf');
} */

.onboard-card {
  width: 40%;
  position: absolute;
  height: 100vh;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: flex-start;
}

.title-card {
  position: absolute;
  top: 15%;
}

.title {
  font-family: Lora-Bold;
  color: #ebac43;
  font-size: 3rem;
  margin: 0;
}

.with {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.221);
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 60px;
  width: 65%;
  position: absolute;
  top: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-label {
  color: white;
  font-weight: bold;
  margin-right: 5px;
}

.form-control-custom {
  display: flex;
  align-items: center;
  border: solid;
  border-color: white; 
  color: white;
  padding: 0.25rem 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  height: 100%;
  margin: 8.5px;
  background-color: transparent;
}

::placeholder {
  color: white;
}

.primary-button {
  width: 90%;
  background-color: #ebac43;
  border-radius: 10px;
  padding: 20px;
  font-weight: bolder;
  margin: 0;
  margin: 15px;
  height: 30%;
}

.transparent {
  background-color: transparent;
  color: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
}

.additional-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.add-button {
  width: 40%;
  margin: 0;
  margin-top: 10%;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
}

.add-button2 {
  width: 100%;
  margin: 15px;
}

.login-image {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.login-image > img {
  width: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
}

#home, .saved-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  background: radial-gradient(30% 35%,#ce6133, #4e160a);
}

.welcome-card {
  font-family: Lora-Bold;
  color: #ebac43;
  position: absolute;
  top: 15%;
}

.welcome-title {
  margin: 0;
}

.welcome {
  font-size: 3rem;
  margin: 0;
}

.home-card {
  background-color: rgba(255, 255, 255, 0.221);
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 60px;
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.home-label {
  position: relative;
  margin: 0px 8.5px;
}

.join-button {
  background-color: #ebac43;
  border-radius: 10px;
  padding: 5px;
  font-weight: bolder;
  margin: 0;
}

.additional-home-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
}

.add-home-button {
  margin: 0;
  width: 100%;
  margin-top: 10%;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
}

.account-actions {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 12%;
}

.account-button {
  margin: 0;
  margin-top: 10%;
  margin-right: 10%;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
}

.account-button:hover {
  border-radius: 5px;
  border-color: white;
}

.text-left {
  text-align: left !important;
}

.icon {
  width: 15%;
  margin-right: 5px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.game-input {
  display: flex;
  flex-direction: row;
  height: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: fixed;
  left: 10%;
  justify-content: center;
  align-items: center;
}

.review-board {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.board > button {
  width: 30%;
}

.hidden {
  display: none;
}

table {
  width: 80%;
  border-collapse: collapse;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
  
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

tbody tr:nth-child(odd) {
  background: #ffffff94;
}

tbody tr:nth-child(even) {
  background: #ffffff43; 
  color: white;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

thead {
  background-color: #ebac43;
  color: black;
}

th {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}

td:last-child button {
  margin: 0px;
}

#chat-form { 
  width: 100%;
  padding: 0.25rem; 
  display: flex; 
  height: 3rem; 
  box-sizing: border-box; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: sticky;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#chat-input { 
  display: flex;
  align-items: center;
  border: none; 
  width: 100%;
  padding: 0 .5rem;
  flex-grow: 1; 
  border-radius: 2rem; 
  margin: 0.25rem; 
  height: 80%;
}

.chat-container {
  background-color: #fcecd64a;
  border-radius: 10px;
  overflow: hidden;
}

#chat-input::placeholder {
  color: black;
}

.global-chat {
  width: 60%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 20%;
}

.global-chat-page {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(30% 35%,#ce6133, #4e160a);
}

.game-chat {
  width: 35%;
  height: 45%;
  position: fixed;
  right: 10%;
}
            
#chat-input:focus { 
  outline: none; 
}

#chat-button { 
  background-color: #ebac43;
  border: solid; 
  border-color: transparent;
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 10px; 
  outline: none; 
}

#chat-button:hover {
  border-color: black;
}

.save-button {
  background-color: white !important;
  padding: 0 0.5rem !important;
  margin: 10px !important;
}

#exit-button { 
  background: rgb(181, 181, 181); 
  border: none; 
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 3px; 
  outline: none; 
  color: rgb(0, 0, 0); 
}
            
#chat-messages { 
  list-style-type: none; 
  height: calc(100% - 50px); /* Subtract the height of the input form from the chat box height */
  overflow: scroll;
  color: white;
  margin: 0;
  padding: 0; 
}
      
#chat-messages > li { 
  padding: 0.5rem 1rem; 
}
 
#chat-messages > li:nth-child(odd) { 
  background: #ffffff4a; 
}
      
#chat-label { 
  display: flex; 
  align-items: center; 
  padding: 10px 
}

.update-button {
  margin-top: 10%;
}

.contact-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  padding-right: 15px;
  color: #ebac43;
  font-size: larger;
}

.fa-twitter:before {
  content: "\f099";
}

.fa-github:before {
  content: "\f09b";
}

.fa-linkedin:before {
  content: "\f0e1";
}